*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.005);
}
